.sonar {
  margin-bottom: 15px;
  text-align: center;
  border: 2px solid #0c93f8;
  border-radius: 10px;
  background: #999bad;

  & > h4 {
    margin: 0;
    text-align: center;
    color: #fff;
    background-color: #0c93f8;
    border-radius: 6px;
    font-size: 18px;
  }

  & > span {
    font-size: 22px;
    color: #ffffff;
    font-weight: 700;
  }
}
