.control {
  position: relative;
  height: calc(100vh - 60px);
  padding: 10px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left {
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-height: 435px;
}

.middle {
  position: relative;
}

.right {
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-height: 435px;
}

.inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btnControl,
.btnControlSecondary,
.emergency {
  padding: 30px;
  cursor: pointer;
  border: none;
  background: linear-gradient(0deg, rgba(6, 29, 58, 1), rgba(6, 29, 58, 1));
  border: 2px solid #61a4fc;
  border-radius: 15px;
  color: #ffffff;
  font-size: 24px;
  width: 190px;
}

.btnControl {
  &:first-child,
  &:last-child {
    margin-left: 30px;
    margin-right: 30px;
  }
}

.btnControlSecondary {
  background: linear-gradient(0deg, #1d53ab, #1d53ab), #62c1fc;

  &:first-child,
  &:last-child {
    margin-left: 30px;
    margin-right: 30px;
  }
}

.inner .btnControl,
.inner .btnControlSecondary {
  margin: 0;
}

.canvas {
  display: block;
  width: 500px;
  height: 375px;
  margin-top: 60px;
  margin-left: 10px;
  margin-right: 10px;
}

.btnControlTakeoff,
.btnControlLand {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border: none;
  background-image: url('../../assets/buttonOn.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  background-clip: content-box;
}

.btnControlTakeoff {
  background-color: #4bb543;
}

.btnControlLand {
  background-color: #ca0b00;
}

.btnControlStreamon,
.btnControlStreamoff {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: none;
  background-image: url('../../assets/buttonStream.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  background-clip: content-box;
}

.btnControlStreamon {
  background-color: #4bb543;
}

.btnControlStreamoff {
  background-image: url('../../assets/buttonStreamoff.png');
}

.wrapper {
  display: flex;
}

.emergency {
  margin-top: 10px;
  width: 280px;
  color: red;
  border: 2px solid red;
  background: black;
}

.restart {
  position: absolute;
  width: 30px;
  height: 30px;
  border: none;
  top: 20px;
  right: 20px;
  cursor: pointer;
  border-radius: 50%;
  background-image: url('../../assets/buttonRestart.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
}

.panelList {
  position: absolute;
  top: -41px;
  left: 20px;
  display: flex;
  justify-content: center;
  list-style: none;
}

.panelItem {
  &:first-child .panelRadio + label {
    border-radius: 5px 0 0 5px;
  }
  &:last-child .panelRadio + label {
    border-radius: 0 5px 5px 0;
  }
}

.panelRadio {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.panelRadio + label {
  display: block;
  padding: 5px 0 5px 0;
  width: 45px;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  border: 1px solid #ccc;
  cursor: pointer;
  color: #626262;
}

.panelRadio + label:hover {
  color: #ed462f;
  border-color: #ed462f;
}

.panelRadio[type='radio']:checked + label {
  background: #ed462f;
  border-color: #ed462f;
  color: #fff;
}

.btnAdvanced {
  display: flex;
  justify-content: space-between;
}
