.wrapper {
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  width: 340px;
  justify-content: space-between;
  position: absolute;
  top: 15px;
  left: 15%;
}
